**/*.pyc
**/*.DS_Store

hottopic/__pycache__/*
hottopic/.*
hottopic/viz/.*

models/*
!models/.placeholder
data/*
!data/.placeholder
output/*
!output/.placeholder
datasets/*
!datasets/.placeholder
processed/*
!processed/.placeholder

main_out.out
