**/*.pyc
**/*.DS_Store

hottopic/__pycache__/*
hottopic/.*

models/*
!models/.placeholder
data/*
!data/.placeholder
output/*
!output/.placeholder
datasets/*
!datasets/.placeholder
processed/*
!processed/.placeholder
preprocessors/*
!preprocessors/.placeholder
